#box1 {
    background: pink;
    display: block;
    height: 100px;
    width: 100px;
    margin: 6%;
}

#box2 {
    background: lightblue;
    display: block;
    height: 100px;
    width: 100px;
    margin: 6%;
}

#box3 {
    background: limegreen;
    display: block;
    height: 100px;
    width: 100px;
    margin: 6%;
}

#box4 {
    background: teal;
    display: block;
    height: 100px;
    width: 100px;
    margin: 6%;
}

.img {
    height: 100px;
    width: 100px;
    align-items: center;


}
